# =========================
# macOS
# =========================
.DS_Store

# =========================
# Python
# =========================
__pycache__/
*.pyc
.ipynb_checkpoints/

# =========================
# R
# =========================
.Rhistory
.RData

# =========================
# Data files
# =========================
*.csv
*.nc

# =========================
# Ignore pydeltasnow package copy
# =========================
model_diff/dsnow/pydeltasnow/

# =========================
# Build / coverage
# =========================
.coverage
build/
dist/
*.egg-info/